/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  font-family: "Maven Pro", sans-serif;
}

header{
  width: 100%;
  height: 400px;
  background-color: #133962;
  background-image: url("../img/fluentify-jumbo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.centratura{
  padding: 0 10%;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

#logo{
  float: left;
}

ul{
  float: left;
  padding: 1% 4%;
}

li{
  display: inline-block;
  text-align: center;
  color: white;
  padding-right: 10px;
  line-height: 25px;
  font-size: 10px;
}
li:hover{
  color: blue;
}

h2{
  position: absolute;
  padding: 13% 0;
  color: white;
  font-size: 36px
}
main{
  height: 500px;
  background-color: yellow;
}
/* sezione scuola lingue */
.barragrigia{
  height: 110px;
  background-color: lightgrey

}
h3{
  text-align: center;
  padding-top: 25px;
}
p{
  text-align: center;
  padding-top: 15px;
}


/* sezione percorso formativo */
.base::after{
  content: "";
  display: table;
  clear: both;
}


.percorso{
  background-color: white;
  padding: 0% 10%;
}

h4{
  color: green;
  text-align: center;
  padding-top: 54%;
  margin: 72px
}

#livello{
  width: 30%;

}
#pc{
  width: 50%;

}
#lavagna{
  width: 35%;

}
.posizionatore{
  float: left;

}
/* sezione scelta piano */
.pianifica{
  background-color: white;
}
.distanziatore{
  margin: 2% 10%;
}
.pianifica::after{
  content: "";
  display: table;
  clear: both;
}

#scalata{
  width: 40%;
  height: 20%;
  float: left;
}
.pianopersonalizzato{
  float: right;
}
/* centratura immagini sezione percorso formativo */
.posizionatore{
  position: relative;
  width:33%
}
#livello, #pc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#lavagna{
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
/* sezione struttura un piano */

h5{
  font-size: 20px
}
